/* ----------------------------------------------------------------------------------- */
/* CSS VARIABLES */
:root {
  --error-color: #d93526;
  --white-color: #fff;
  --pico-primary-color: #4b5320;
}

[data-theme="light"],
:root:not([data-theme="dark"]) {
  --pico-primary-background: var(--pico-primary-color);
  --pico-primary-hover-background: #3f4518;
  --pico-primary-hover-border: #3f4518;
  --pico-primary-focus: #3f4518;
}

/* ----------------------------------------------------------------------------------- */
/* COLORS */
.error-message {
  color: var(--error-color);
}

.background-color-white {
  background-color: var(--white-color);
}

/* ----------------------------------------------------------------------------------- */
/* TITLE */
.big-title {
  font-size: 3rem;
  font-weight: bold;
}

/* ----------------------------------------------------------------------------------- */
/* FLEX */
.flex-direction-column {
  display: flex;
  flex-direction: column;
}

.vert-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ----------------------------------------------------------------------------------- */
/* OVERWRITING PICO CSS */
.margin-none {
  margin: 0 !important;
}

/* ----------------------------------------------------------------------------------- */
/* COLORS */
.max-view-height {
  height: 100vh;
}

.tab-button {
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
  color: #555;
}

.tab-button.active-tab {
  color: #000;
  border-bottom: 2px solid #000;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.txt-align-center {
  text-align: center;
}

.not-fount__img {
  width: 30%;
  margin-bottom: 50px;
  border-radius: 50%;
}

.is-hidden {
  display: none;
}

.is-clickable {
  cursor: pointer;
}

.reset-link {
  text-decoration: none;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */
/* INVOICE PDF */

.facture-container {
  min-width: 21cm;
  min-height: 29.7cm;
  font-size: initial;
}

.overflow-hidden {
  overflow: hidden;
}
